*
!.gitignore
!package.json
!tsconfig.json
!src/
!src/**
!scripts/
!scripts/build.js
!.github/
!.github/**
!README_fa.md
!README.md
!README_zh.md
!RELEASE.md
!AGENTS.md
!NAT64Prefixes.md
!docs
!docs/**
!tools/
!tools/**
